doctype html
html(lang="en")
    include includes/head.pug

    body
        div(class="container")
            div(class="py-5 text-center")
                h1 #{pageTitle}
                p(class="lead") See what's happening

        include includes/pagnav.pug

        div(class="py-5 text-center")
            img(src=previewImageSrc style="max-width:100%;")

        footer(class="my-5 pt-5 text-muted text-center text-small")
            p(class="mb-1") Created by owenlow